@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

﻿<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Datatable Editable</h4>
                <div class="d-flex justify-content-end mb-3">
                    <button id="addNhaCungCapBtn" class="btn btn-primary">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="table-responsive">
                    <table id="tblDataNhaCungCap" class="table table-editable table-nowrap align-middle table-edits" ">
                        <thead>
                            <tr>
                                <th>Ma Nha Cung Cap </th>
                                <th>Ten Nha Cung Cap</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->





<div class="modal fade" id="addNhaCungCapModal" tabindex="-1" role="dialog" aria-labelledby="addNhaCungCapModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNhaCungCapModalLabel">Add New Nha Cung Cap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addNhaCungCapForm">
                    <div class="form-group">
                        <label for="TenNhaCungCap">Tên Nhà Cung Cấp</label>
                        <input type="text" class="form-control" id="TenNhaCungCap" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm Nhà Cung Cấp</button>
                </form>

            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/assets/libs/jquery/jquery.min.js")"></script>

<script src="@Url.Content("~/js/nhacungcap.js")"></script>




<style>
    .editable {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
    }
</style>
